extends layout
block content
   
    .basket-page-container
        div.basket-div-cont
          section.basket-p__total-cont.total-top.mb-20
            span.em-15.basket-p__total.text-center.blk Est. total &#8373;#{basket.total}
            a.signin.text-white.bg-nav.blk.text-center(href="/basket/checkout")
              |  Check Out(#{basket.total_num_of_items})
          
            
          p.basket-title.p-30 Your basket:
            span.bold 
             if basket 
              | #{basket.total_quantity} Item(s)
             else   
              | 0 Items
          if !items
              p.ml-30 Your basket is empty. Go ahead and something!   
          
          if items
            for item in items
            
              .basket-p__cont  
                  section.basket-item.p-15.mr-auto
                    .d-flex.align-items-center
                      div.mr-15
                        .basket-item__image
                          img.control(src="https://s3.eu-west-2.amazonaws.com/glammycare/"+item.image)
                      div.d-flex.flex-col  
                        span.basket-item__title #{item.name}
                          
                        span.mt-15.bold.basket-item__price &#8373; #{item.price}
                        
                      
                    .call-to-action.d-flex.justify-center
                      .d-flex.flex-col
                          span Qty:
                          select#quant-select
                            option(value='1') 1
                            option(value='2') 2
                            option(value='3') 3
                            option(value='3') 3
                            option(value='4') 4
                            option(value='5') 5
                            option(value='6') 6
                            option(value='7') 7
                            option(value='8') 8
                            option(value='9') 9
                            option(value='10') 10
                            option(value='11') 11
                            option(value='12') 12
                      .d-flex.align-flex-end
                        a.text-dark.underline.in-blk.mr-20(href="#") Remove
                        a.text-dark.underline(href="#") Save for later
                
    
        .basket-p__total-cont.total-bottom
              .d-flex.flex-col.p-15  
                  .d-flex
                    span.mr-auto.pb-15 Subtotal(1 item)
                    span &#8373;#{basket.total}
                  .d-flex
                    span.mr-auto Shipping
                    span &#8373;0.00
              div      
                  .d-flex.pt-20.pl-15.fle
                    span.total.mr-auto Est total 
                    span.bold.total &#8373;#{basket.total}
                      
                  a.text-white.bg-nav.text-center.in-blk.control.signin(href="/checkout")  Check Out(#{basket.total_num_of_items})
        
    if !currentUser
      p.basket-title.p-30 Sign In to to see your wishlists
    else
      div.fav-cont
                  p.basket-title.p-30 Your Wishlist:
                    span.bold 
                     if basket 
                      | #{total_favs} Item(s)
                     else   
                      | 0 Items
                  if !favs
                      p.ml-30 You have no Items in your wishlist
                    
                  if items
                        for fav in favs.favourites
                        
                          form.basket-p__cont.fav_form
                              section.basket-item.p-15.mr-auto
                                .d-flex.align-items-center
                                  div.mr-15
                                    .basket-item__image
                                      img.control(src="https://s3.eu-west-2.amazonaws.com/glammycare/"+fav.images[0].image)
                                  div.d-flex.flex-col  
                                    span.basket-item__title #{fav.name}
                                      
                                    span.mt-15.bold.basket-item__price &#8373; #{fav.price}
                                    
                                  
                                .call-to-action.d-flex.justify-center
                                  .d-flex.flex-col
                                      input(type="hidden",name="product_id",value= fav._id)
                                      span Qty:
                                      select#quant-select
                                        option(value='1') 1
                                        option(value='2') 2
                                        option(value='3') 3
                                        option(value='3') 3
                                        option(value='4') 4
                                        option(value='5') 5
                                        option(value='6') 6
                                        option(value='7') 7
                                        option(value='8') 8
                                        option(value='9') 9
                                        option(value='10') 10
                                        option(value='11') 11
                                        option(value='12') 12
                                  .d-flex.align-flex-end
                                    a.text-dark.underline.del_fav.in-blk.mr-20(href="/favouries/") Remove
                                    a.text-dark.underline(href="#") Add to Cart
