extends partials/checkout-layout.pug
block content
  
  .completed-basket.p-20
    img.img-complete.mr-30(src='/images/complete.svg')
    
    img.img-shipped.mr-15(src="/images/shipped.svg")    
    span.progress-head Shipping
    
    section.confirmed-products
      for basket in baskets
        .confirm-product.full-flex
          .confirm-product__cont.mb-20
            img.confirm-product__img(src="https://s3.eu-west-2.amazonaws.com/glammycar/"+basket.image)
          div
            span.arrives-word Arrives by 
            span.bold.arrive-date= date
            
      
  .sending-address.p-20
      img.img-complete.mr-30(src='/images/complete.svg')
      span.progress-head Sending To
      .address-cont
        p.address  #{address.firstname} #{address.lastname}
        p.address #{address.region}
        p.address #{address.city}
        p.address #{address.address}
        p.address #{address.email}
        p.address #{address.number}
                  
                
  .lvl-indicator-container.confirm-checkout
    .lvl-indicator.d-flex.align-items-center
      .indicator-num-cont
        span.indicator-num.blk 3
      .indicator
        if confirm_error
          small.blk.error= confirm_error
        span.indicator-words Confirm order
            form(action="",method="post")
              div.chkbox-area
                input.filter(type="checkbox",id="foundation",name="confirm_order",value="true")
                label(for="foundation") 
                span.confirm-agree
                    |By checking, you agree 
                    |that you have reviewed your basket 
                    | and are aware of your total basket estimate.
                div
              
                  input.mr-auto.link-btn.link-btn--rounded.link-btn--emph.confirm-order(type="submit",value="Place Order")
                  
